// This is a manifest file that'll be compiled into including all the files listed below.
// Add new JavaScript/Coffee code in separate files in this directory and they'll automatically
// be included in the compiled file accessible from http://example.com/assets/application.js
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
//= require jquery
//= require jquery_ujs
//= require rails.validations
//= require jquery.remotipart
//= require bootstrap-alerts
//= require bootstrap-dropdown
//= require bootstrap-modal
//= require bootstrap-tabs
//= require bootstrap-twipsy
//= require bootstrap-popover
//= require_tree .
<%
	app = Rails.application.routes.url_helpers
%>
$(function() {
	$('#videos').load('<%= app.list_videos_path %>');
	$('#upload-form .cancel').click(function() {
		$(document).trigger("hide-popovers");
	});
	$(".alert-message").alert();
});

$(document).bind("reset-form", function(event) {
	$('#upload-form').each (function(){
	  this.reset();
	});
	$('#upload-form .help-block.error').remove();
});

$(document).bind("hide-popovers", function(event) {
	$("#modal-recorder").modal("hide");
	$("#modal-uploader").modal("hide");
	$(".video-popup").each(function(i,e) {
		if($(e).is(":visible")) $(e).modal("hide")
	});
	
	$("a[rel=popover]").each(function(i,e) {
		if($(e).is(":visible")) $(e).popover("hide")
	});
});

$(document).bind("list-loaded", function(event) {
	$("a[rel=popover]")
	.popover({
		offset: 10,
		html: true,
		placement: 'below'
	})
	.click(function(e) {
		e.preventDefault()
	});
	
	$("a.video-delete").click(function(event) {
		if(confirm("Do you want to delete this video?")) {
			$.post(this.href)
				.success(function(data, status, jqXHR) {
			    $('#videos').html(data);
					$(document).trigger("hide-popovers");
					return false;
				})
				.error(function(data, status, jqXHR) {
					alert('Error deleting video.');
					$(document).trigger("hide-popovers");
					return false;
				});
		}
		event.preventDefault();
	});
});

jQuery.extend({
	/* 
	 *  E.g. $.alert("This is an errror", "error"); 
	 */
	alert: function(text, type) {
		if(typeof(type) === "undefined") type = "info";
		var selector = ".topbar .alert-message" + "." + type;
		$(selector).remove();
		$(".topbar").prepend('<div class="alert-message block-message ' + type + '"><a class="close" href="#">×</a></div>');
		$(".topbar .alert-message" + "." + type).alert();
		$(selector).append(text);
		$(selector).show();
	}
});

clientSideValidations.formBuilders['SimpleForm::FormBuilder']['add'] = function(element, settings, message) {
  if (element.data('valid') !== false) {
    var wrapper = element.closest(settings.wrapper_tag);
    wrapper.addClass(settings.wrapper_error_class);
    var errorElement = $('<' + settings.error_tag + ' class="' + settings.error_class + '">' + message + '</' + settings.error_tag + '>');
    wrapper.append(errorElement);
	  element.parents("div.clearfix").addClass("error");
  } else {
    element.parent().find(settings.error_tag + '.' + settings.error_class).text(message);
  }
}

clientSideValidations.formBuilders['SimpleForm::FormBuilder']['remove'] = function(element, settings) {
  var wrapper = element.closest(settings.wrapper_tag + '.' + settings.wrapper_error_class);
  wrapper.removeClass(settings.wrapper_error_class);
  var errorElement = wrapper.find(settings.error_tag + '.' + settings.error_class);
  errorElement.remove();
  element.parents("div.clearfix").removeClass("error");
}
