/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
@import "bootstrap.css";
@import "videos.css.scss";

body {
  padding-top: 60px;
}

ul.media-grid p {
	margin-left: 20px;
}

form#upload-form {
	margin-bottom: 0;
}

.topbar a.brand {
	font-weight: bold;
}

.topbar a.brand span.label {
	font-size: 20px
}

.topbar .alert-message {
	margin-bottom: 0;
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.topbar .alert-message p {
	line-height: 1.5em;
}

.topbar .alert-message ul,
.topbar .alert-message ol  {
	margin: 5px 0 5px 25px;
	list-style: disc;
	display: block;
	float: none;
}

.topbar .alert-message ul, 
.topbar .alert-message p {
	margin-right: 30px;
}

.topbar .alert-message li {
	color: #404040;
	float: none;
	display: block;
}

.topbar .alert-mesasage.block-message li {
	line-height: 18px;
	color: gray;
}

.help-error {
	
}

.help-error {
	display: block;
	max-width: 600px;
}

.help-error {
	font-size: 11px;
	line-height: 18px;
	color: #BFBFBF;
}

form div.clearfix.error span.help-error {
	color: #9D261D;
}

form.edit p.embed {
	text-align: left;
}
	
form.edit .embed {
	float: left;
	width: 230px;
}

.embed label {
	text-align: middle;
	font-weight: bold;
}

form.edit .fields {
	float: left;
	width: 270px;
}

.modal .twitter-button, 
.modal .facebook-button {
	float: left;
	margin-right: 5px;
}

footer .twitter-button, 
footer .facebook-button {
	float: left;
}

footer p {
	width: 500px;
	float: left;
}

footer .share {
	float: right;
	width: 440px;
}